{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>About</h1>
        </div>
        
        <h2>Mission Statement</h2>

        <p>SASE is dedicated to the advancement of Asian heritage scientists and engineers in education and employment so that they can achieve their full career potential. In addition to professional development, SASE also encourages members to contribute to the enhancement of the communities in which they live. SASE’s mission is to:</p>

        <ul>
            <li>Prepare Asian heritage scientists and engineers for success in the global business world.</li>
            <li>Celebrate diversity on campuses and in the workplace.</li>
            <li>Provide opportunities for members to make contributions to their local communities.</li>
        </ul>
        
        <h2>History of SASE</h2>

        <p>The Society of Asian Scientists and Engineers (SASE) was founded in November 2007 to help Asian heritage scientific and engineering professionals achieve their full potential. Organizations existed for other affinity groups – The National Society of Black Engineers, the Society of Hispanic Professional Engineers, and the Society of Women Engineers – and there was a need for a similar organization where students representing all of the pan Asian cultures could connect and support each other.</p>

        <p>In 2007-08, Procter & Gamble Co. provided the initial membership contribution to establish SASE. P&G saw the opportunity to improve the recruiting, retention and development of Asian heritage scientists and engineers via a nationally recognized technical organization with student chapters on college campuses. In 2011 the University of Minnesota SASE chapter was founded with the intention of bringing the initiative from the national SASE chapter to our school. Since then, SASE UMN has created many programs and initiatives that have helped our members grow to become better leaders.</p>
    </div>

    <div class="section gradient">
        <div class="container">
            <h1>Meet The Team</h1>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="card-columns">
                        {% for member in team %}
                            <div class="card">
                                <div class="card-img-top text-center">
                                    <img class="img-fluid" src="{% if member.avatar %}{{ member.avatar }}{% else %}https://placehold.it/400x400{% endif %}" alt="Card image cap">
                                </div>
                                <div class="card-block text-center">
                                    <h4 class="card-title">{{ member.username }}
                                        {% if member.name %}<br /><small style="color: lightgray;">{{ member.name }}</small>{% endif %}
                                    </h4>
                                    <p class="card-text">{{ member.role }}</p>
                                </div>
                                <div class="card-footer text-center">
                                   {% if member.website %} <a href="{{ member.website }}" target="_blank"><i class="fa fa-fw fa-link"></i></a>{% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
