{% extends 'admin/master.html' %}

{% block body %}
    <div class="col-md-6">
        <div class="page-header">
            <h2>SASE UMN // ADMIN PANEL</h2>
        </div>
        <p>
            Welcome to the admin panel. Along the top, you will see a second navigation bar titled "Admin Panel" under the regular one. Using the links on this bar, you can view database entries, such as users, events, etc.
        </p>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Recent Activity</h4>
            </div>
            <div class="panel-body">
                This will get implemented someday, I swear.
            </div>
        </div>
    </div>
{% endblock %}
