<nav class="navbar navbar-default" style="margin-bottom: 0; {% if admin_view %}background-color: #a3210b;{% endif %}">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("base.index") }}">
                <img style="height: 24px; vertical-align: middle; display:inline-block;" src="/static/img/logo.png" />
                SASE UMN {% if admin_view %}<b>ADMIN</b>{% endif %}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for("base.about") }}">About</a></li>
                <li><a href="{{ url_for("base.events") }}">Events</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    {% if current_user.admin %}
                        <li><a href="{{ url_for("admin.index") }}">Admin Panel</a></li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ current_user.username }}&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url_for("users.profile") }}"><i class="fa fa-fw fa-user"></i> My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for("users.settings") }}"><i class="fa fa-fw fa-sliders"></i> Account Settings</a></li>
                            <li><a href="{{ url_for("users.logout") }}"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for("users.login") }}">Login</a></li>
                    <li><a href="{{ url_for("users.register") }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>