{% from "templates.html" import render_field, render_generic_field %}
{% extends "layout.html" %}
{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="jumbotron">
                <center>
                    <h1>{{ user.name }}</h1>
                    {% if current_user.is_authenticated and current_user.id == user.id %}
                        <a href="{{ url_for("users.settings") }}" class="btn btn-lg btn-default"><i class="fa fa-fw fa-pencil"></i> Edit Profile</a>
                    {% endif %}
                </center>
            </div>
        </div>
    </div>
{% endblock %}