{% from "templates.j2" import render_field, render_generic_field %}
{% extends "layout.j2" %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    {% if event %}
                        <div class="jumbotron">
                            <center>
                                <h3>{{ event.name }}</h3>
                            </center>
                        </div>
                        <div class="alert alert-info">
                            After you confirm your email, you will automatically be marked as an attendee of <b>{{ event.name }}</b>.
                        </div>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Register</h2>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <form method="POST">
                                    {{ register_form.csrf_token }}
                                    <fieldset>
                                        {{ render_field(register_form.name) }}
                                        {{ render_field(register_form.email) }}
                                        {{ render_field(register_form.username) }}
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ render_field(register_form.password) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ render_field(register_form.confirm_password) }}
                                            </div>
                                        </div>
                                    </fieldset>
                                    {{ register_form.submit(class_="btn btn-primary") }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}