{% from "templates.j2" import render_field, render_generic_field %}
{% extends "layout.j2" %}
{% block title %}Update {{ event.name }}{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <p>
                        <a href="{{ url_for("admin.events") }}">&laquo; Back</a>
                    </p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Edit <b>{{ event.name }}</b></h2>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                <form method="POST">
                                    {{ event_edit_form.csrf_token }}
                                    <p>
                                        Status:
                                        {% if event.published %}
                                            <b style="color:#090;">PUBLISHED</b>
                                        {% else %}
                                            <b style="color:#c00;">NOT PUBLISHED</b>
                                        {% endif %}
                                    </p>
                                    <fieldset>
                                        {{ render_field(event_edit_form.name) }}
                                        {{ render_field(event_edit_form.location) }}
                                        {{ render_field(event_edit_form.description) }}
                                        {{ render_field(event_edit_form.start_time) }}
                                    </fieldset>
                                    {{ event_edit_form.update(class_="btn btn-primary") }}
                                    {% if event.published %}
                                        {{ event_edit_form.unpublish(class_="btn btn-danger") }}
                                    {% else %}
                                        {{ event_edit_form.publish(class_="btn btn-success") }}
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}