<footer class="site-footer site-footer--sticky">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="footer-heading">SASE UMN</h5>
                <p>
                    SASE UMN is a student organization at the University of Minnesota that is dedicated to the advancement of Asian heritage scientists and engineers in education and employment so that they can achieve their full career potential.
                </p>
                <ul class="list-inline">
                </ul>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-xs-4">
                        <h5 class="footer-heading">Useful Links</h5>
                        <ul>
                            <li><a href="{{ url_for("base.index") }}">Home</a></li>
                            <li><a href="{{ url_for("base.about") }}">About</a></li>
                            <li><a href="{{ url_for("base.events") }}">Events</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <h5 class="footer-heading">Connect With Us</h5>
                        <p>
                            Stop by our office at 
                            <br>
                            <br>
                            Lind Hall 102<br>
                            207 Church St SE,<br>
                            Minneapolis, MN 55455
                            <br>
                            <br>
                            Or follow us on social media platforms:
                        </p>
                        <p id="links">
                            <a href="mailto:sasemail@umn.edu" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-envelope"></i></a>
                            <a href="https://www.facebook.com/sase.umn/" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-facebook-square"></i></a>
                            <a href="https://twitter.com/sase.umn/" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
                            <a href="https://www.instagram.com/saseumn/" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-instagram"></i></a>
                            <a href="https://www.youtube.com/user/saseumn/" target="_blank" rel="noopener"><i class="fa fa-fw fa-2x fa-youtube-play"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-copyright">
            <p>
                &copy; 2017 SASE UMN. This website is open-source on <a href="https://github.com/saseumn/website" target="_blank">Github</a>.
            </p>
        </div>
</footer>